<% provide(:title, @adoptee.name) %>
<div class = "row">
<aside class = "col-md-4">
<section class = "user_info">

<%= gravatar_for @adoptee %>
<br>
<h1 style="font-size: 23 px;">
<%= @adoptee.name %>
</h1>
<br>
<br>
<h1 style="font-size: 16px;">
Age: <%= @adoptee.age %>
</h1>
<br>
<h1 style="font-size: 16 px;">
Email: <%=  @adoptee.email %>
</h1>
<br>
<h1 style="font-size: 16 px;">
Personality: <br> <%= @adoptee.personality %>
</h1>

</section>
</aside>
</div>
