<% provide(:title, @adoptee.name) %>
<div class = "row">
<aside class = "col-md-4">
<section class = "user_info">

<%= gravatar_for @adoptee %>

<h1>
<%= @adoptee.name %>
</h1>
<h2>
Age: <%= @adoptee.age %> | Email: <%=  @adoptee.email %>
</h2>
<p>
<b>Personality:</b> <br> <%= @adoptee.personality %>
</p>

</section>
</aside>
</div>
