<% provide(:title, @adoptee.name) %>
<div class = "row">
<aside class = "col-md-4">
<section class = "user_info">
<h1>
<%= gravatar_for @adoptee %>
<%= @adoptee.name %>,<%= @adoptee.age %>, <%= @adoptee.email %>, <%= @adoptee.personality %>
</h1>
</section>
</aside>
</div>
